* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myfont', sans-serif;

}

html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'myfont';
    src: url(../assets/fonts/myFont.ttf) format('truetype');
}

button:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

}