.navbar {
  background: linear-gradient(to bottom, rgba(1, 10, 34, 0.788), rgba(0,0,0,0));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;        /* size of navbar */
  padding: 0;          /* no padding so center stays true */
}

.navbar img {
  max-height: 80px;    /* ← CONTROL IMAGE SIZE HERE */
  width: auto;
  object-fit: contain;
  display: block;
}
.navbar-link{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: inherit;      /* use the same color as normal text */
    text-decoration: none;   /* remove underline */
    display: inline-block;
    transition: 0.2s
}

.menu-button{
    position: absolute;
    left: 20px;
    top: 40px;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.menu-button:hover{
    cursor: pointer;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.navbar-link:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}