.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #c5c9cc;
    padding: 2rem;
    transition: left 0.3s ease;
    z-index: 3;
}

.sidebar.open{
    left: 0;
    transition: left 0.3s ease;
}

.close-button{
    background: none;
    border: none;
    font-size: 1.5rem;
    top: 20px;
    right: 20px;
}
