.sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #c5c9cc;
    padding: 2rem;
    transition: left 0.3s ease;
    z-index: 3;
}

.sidebar.open{
    left: 0;
    transition: left 0.3s ease;
}

.close-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%); /* centers horizontally */
}

.sidebar-content {
  margin-top: 60px; /* push items down below the button */
  display: flex;
  flex-direction: column;
  align-items: center;  /* horizontal center */
  gap: 1rem;            /* spacing between items */
}

.sidebar-content button{
    margin: 0.5rem 0;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    background : none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar-content button:hover{
    background-color: rgb(44, 43, 43);
    color: white;
}