/* SIDEBAR CONTAINER */
.sidebar{
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    background: rgba(10, 10, 10); 
    padding: 2rem;
    transition: left 0.3s ease;
    z-index: 1000;
    color: white;
}

/* SIDEBAR OPEN STATE */
.sidebar.open{
    left: 0;
    transition: left 0.3s ease;
}

/* CONTENT LAYOUT */
.sidebar-content {
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;            
}

/* NAVIGATION BUTTONS */
.sidebar-content button{
    margin: 0.5rem 0;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    background : none;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: white;
}

/* BUTTON HOVER STATE */
.sidebar-content button:hover{
    background-color: rgb(44, 43, 43);
    color: white;
}

/* BUTTON GLOW EFFECT */
.sidebar-content button:hover {
    background-color: rgba(30, 94, 255, 0.15);
    color: #ffffff;

    box-shadow:
        0 0 8px rgba(30, 94, 255, 0.6),
        0 0 16px rgba(30, 94, 255, 0.4);
}